<% provide(:title, "About") %>
<div class="container">
    <%= render "flash_notice" %>
    <h2>About</h2>
    <br/>
    <br/>
    
    <div class="row">
        <p>
            Vidon is a video streaming site that allows users to subscribe to the content
            they want to watch, not pay for a bunch of content they don't need. Vidon also
            provides basic social media features such as friends, and being able to comment
            on videos and people's profiles. 
        </p>
        <br/>
        <p>
            Vidon is a student developed project created by the members of i/onicSoft 
            for the express purpose of research and academic development. No actual monetary
            transactions are performed, and all content hosted on this website is from the public domain.
        </p>
    </div>
</div>
