<div class="container">
    <%= render "flash_notice" %>
    <h2>Contact</h2>
    <br/>
    <br/>
    
    <div class="row">
        <h4>Need Support?</h4>
        <p>
            We at i/onicSoft work hard to make Vidon easy to use, but we know that everyone
            has questions. If you have a question on how something works, or a suggestion
            on how to make things better, contact our support team at the email below:
        </p>
        <br/>
        <br/>
        <h5>ionicsoft@example.com</h5>
    </div>
</div>
