<div class="container-fluid">
    <% if logged_in? %>
        <%= render 'home_customer' %>
    <% else %>
        <%= render 'home_guest' %>
    <% end %>
    <hr>
    <%= link_to "Log out", logout_path, method: :delete %>
</div>