<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-body">
          <h3 id="card-text">Your charges</h3>
          <hr>
          <% @charges = Invoice.all.where(payment_id: current_person.user.payment.id)%>
          <% @charges.each do |charge| %>
            <div class="row">
              <div class="col-8"><p><%= charge.description %></p></div>
                <div class="col-2"><b><%= charge.amount %></b></div>
                <div class="col-2"><p><%= charge.created_at.strftime("%m/%d/%y") %></p></div>
            </div>
          <% end %>
        </div>
      </div>
    </div></div></div>