<% provide(:title, "Invoice") %>
<div class="container">
  <%= render "flash_notice" %>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-body">
          <h3 id="card-text">Your charges</h3>
          <table class="table table-hover">
            <thead>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
            </thead>
            <tbody>
              <% @charges = Invoice.all.where(payment_id: current_person.user.payment.id).order(created_at: :desc) %>
              <% @charges.each do |charge| %>
                <tr scope="row">
                  <td><%= charge.description %></td>
                  <td><%= number_to_currency charge.amount %></td>
                  <td><%= charge.created_at.strftime("%m/%d/%y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div></div></div>