<h1>Vidon</h1>

<p>Hello <%= @person.full_name %>,</p>

<p>Welcome to Vidon! Click the link below to activate your account:</p>

<%= link_to "Activate", edit_account_activation_url(@person.activation_token, email: @person.email) %>