<% provide(:title, "Create Episode") %>
<% unless params[:show_id].nil? %>
    <% @show = Show.find(params[:show_id]) %>
<% end %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card card-default">
        <h1 id="card-text" class="card-header">Create Episode</h1>
        <div class="card-body">
          <%= render 'form', episode: @episode %>
        </div>
      </div>
    </div>
  </div>
</div>
