<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to show_rating.show.name, show_rating.show %>
  </div>
  <div class="panel-body" id="rating">
    <% (1..5).each do |point| %>
      <% if point > show_rating.rating %>
        <span class="glyphicon glyphicon-star-empty"></span>
      <% else %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
    <% end %>
  </div>
</div>
