<% provide(:title, "Watch History") %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-default">
        <div class="card-body">
          <h2 class="text-body">Watch history</h2>
          <table class="table table-hover">
            <thead>
              <th scope="col">Video title</th>
              <th scope="col">Series</th>
              <th scope="col">Last viewed</th>
            </thead>
            <tbody>
              <% @histories.each do |h| %>
                <tr scope="row">
                  <td><%= link_to h.video.title, h.video %></td>
                  <td><%= link_to h.video.content.show.title, h.video.content.show if h.video.episode? %></td>
                  <td><%= time_ago_in_words h.updated_at %> ago</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>