<div class="container" id="customer-profile">
  <div class="navbar navbar-default" id="customer-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2><%= @producer.company_name %></h2>
      </div>
    </div>
  </div>
  <div class="col-sm-12" id="profile-main">
    <div class="grid" id="customer-favorites">
      <h3 id="temp" style="color:white;">Highest Rated Shows</h3>
      <% favs = @producer.shows %>
      <% if favs.any? %>
        <% favs[0..4].each do |rating| %>
          <div class="card card-default">
            <div class="card-heading font-weight-bold"><%= link_to rating.name %></div>
            <div class="card-body"><%= rating.description %></div>
          </div>
        <% end %>
      <% else %>
        <small id="sm-text">No money makers here.</small>
      <% end %>
    </div>
  </div>
  </div>
</div>

