<div class="container" id="customer-profile">
  <div class="navbar navbar-default" id="customer-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2><%= @producer.company_name %></h2>
      </div>
      <div id="customer-nav-text">
        <small>Producer since <%= @producer.created_at.strftime "%B %Y" %></small>
      </div>
    </div>
  </div>
  <div class="col-sm-8" id="profile-main">
    <div class="row" id="customer-favorites">
      <h3>Highest Rated Shows</h3>
      <% favs = @producer.shows %>
      <% if favs.any? %>
        <% favs[0..4].each do |rating| %>
          <div class="panel panel-default">
            <div class="panel-heading"><%= link_to rating.name %></div>
            <div class="panel-body"><%= rating.description %></div>
          </div>
        <% end %>
      <% else %>
        <small>No money makers here.</small>
      <% end %>
    </div>
  </div>
  </div>
</div>

