@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 70px;
}

.navbar {
  background-color: #D3F3DE;
}

.nav-text {
  font-family: "Lucida Console", Monaco, monospace;
}

#company {
  letter-spacing: -1px;
  font-size: x-large;
  margin-top: 14px;
  margin-bottom: 0px;
}

#footer {
  padding-top: 5px;
  margin-top: 65px;
  border-top: 1px solid #eee;
  
  small {
    float: left;
  }
  
  ul {
    list-style: none;
    float: right;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}