@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 70px;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #272b30;
}

.navbar {
  background-color: #D3F3DE;
}

.navbar-header {
  a:link, a:visited {
    color: black;
  }
  
  a:hover, a:active {
    color: white;
    background: black;
  }
}

.nav-link:link, .nav-link:visited {
  color: black;
}
.nav-link:hover, .nav-link:active {
  color: black;
}

.navbar-brand {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  img {
    margin-top: -9px;
    display: inline-block;
    vertical-align: top;
  }
}

.nav-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#company {
  letter-spacing: -1px;
  font-size: x-large;
  margin-top: 14px;
  margin-bottom: 0px;
}

#footer {
  padding-top: 5px;
  margin-top: 65px;
  border-top: 1px solid #eee;
  
  a {
    color: white;
  }
  
  a:hover, a:active {
    color: #EBE8E7;
  }
  
  small {
    float: left;
  }
  
  ul {
    list-style: none;
    float: right;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
