// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#customer-header {
    background: #eee;
}

#customer-nav-text {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

#profile-side {
    margin-right: -15px;
}
