// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#customer-header {
    background: #f5f5f5;
}

#customer-nav-text {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

#profile-side {
    margin-top: 20px;
    margin-right: -15px;

    #customer-ratings {
        padding-bottom: 0;
    }

    hr {
        margin-bottom: 0;
    }
    
    h3 {
        margin-top: 0;
    }
}

#profile_comment_comment {
    resize: vertical;
}