// Place all the styles related to the Producers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

#customer-header {
    margin: 2rem;
}

#customer-favorites {
    margin: 2rem;
}

#temp {
    margin-bottom: 1rem;
}

// .card-heading {
//     margin-left: 2rem;
//     margin-top: 1rem;
//     font-size: 18px;
// }

// .card-body {
//     margin-left: 1rem;
// }

// div.row {
//     outline: 2px solid white;
// }

#buttons {
    margin-top: 2rem;
}