// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ep-show {
    img {
        float: left;
        margin-right: 1em;
    }
    
    h5 {
        margin-left: 110px;
        margin-right: 5rem;
        border-bottom: 1px black solid;
    }
    
    #ep-button-block {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
