// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $primary_color: #D3F3DE;
 
 .show_title {
    width: 400px;
    margin-right: 10px;
    background-color: $primary_color;
    padding: 30px 30px 30px 30px;    
    border: 5px solid black;
    text-shadow: 1px 1px 1px black;
    float: left;
    line-height: 1.8;
}

.show_list_image {
    margin-right: 10px;
    background-color: $primary_color;
    padding: 10px 10px 10px 10px;    
    border: 3px solid black;
    float: left;
    display: block;
}

.show_navbar {
    font-size: large;
    padding: 2.5rem;
}

.show_navbar_nav {
    list-style: none;
    
    li {
        float: left;
        margin-right: 10px;
    }
}

.show_description {
    padding: 30px;
   
}

.shows_list{
    list-style: none;
}

.shows_list > li {
    float: left;
    padding: 5px;
    width: 80%;
}

.episodes_list {
    float: left;
    width: 50%;
}

.episodes_list > ul {
    list-style: none;
}


.episodes_list_image {
    margin-right: 10px;
    background-color: $primary_color;
    padding: 10px 10px 10px 10px;    
    border: 3px solid black;
    float: left;
    display: block;
}

.episodes_description {
    padding: 30px;
   
}