// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight-white: #000;

.small, p, b {
  color: black;
}

// Browse page
.nav-tabs {
  .nav-link {
    background-color: #647369;
  }
}

.showcard {
  // padding: 0;
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.53));
  }
  
  .show-title {
    color: white;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    small {
      background-color: darkcyan;
      padding: 1px 6px;
      margin-bottom: 5px;
      display: inline-block;
      border-radius: 5px;
    }
  }
}

//Customer Header
#profile-header {
  padding: 0;
}

.cust-name {
  font-size: 60px;
  margin-top: 4rem;
}

#profile-date {
  margin-top: 5.5rem;
}

// Customer Homepage
.home-header {
  color: white;
}

#customer-home {
  .jumbotron {
    background-position: center;
    background-size: cover;
    h2, h5 {
      color: white;
      background-image: linear-gradient(to left, rgba(0,0,0,0.07), rgba(0,0,0,0.47));
    }
  }
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    margin-bottom:1em;
    width: 220;
    display: inline-block;
    h5 {
      padding:0.4rem 1rem;
    }
    img {
      width: 220px;
      height: 180px;
      object-fit: cover;
    }
  }
}

// Subscriptions page

.subscription {
  img {
    margin-top: 15px;
    margin-bottom: 0.5rem;
  }
}

.subscription:nth-child(odd) {
  background-color: lightgrey;
}

.sub-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
}

// Guest Homepage
.guest-fill {
  //background-color: #461A3B;
  background-color: #272b30;
  margin-top: -52px;
  margin-left: -48px;
  margin-right: -48px;
  height: 100%;
  // height: 100vh;
  // width: 100vw;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .carousel-inner {
    height: 95vh;
  }
  
  .carousel-caption {
    top: 20%;
  }
  
  .btn {
    border: none;
    border-radius: 0;
    font-weight: bold;
    // background: #487F5BBB;
    // background: $highlight-white;
    padding: 6px 40px;
  }
  
  .text-main {
    padding: 5px;
    margin: 10px 10vw;
  }
  
  h4 {
    padding: 5px;
    margin: 30px 0;
  }
  
  .btn, .text-main, h4 {
    background: $highlight-white;
  }
}


a.btn:visited {
  color: white;
}

$primary_color: #D3F3DE;

.result_image {
    margin-right: 10px;
    background-color: $primary_color;
    padding: 10px 10px 10px 10px;    
    border: 3px solid black;
    float: left;
    display: block;
}

.result_description {
    padding: 30px;
   
}

.search_results{
    list-style: none;
}

.search_results > li {
    float: left;
    padding: 5px;
    width: 80%;
}