// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight-white: #000;

// Customer Homepage
.home-header {
  color: white;
}

// Subscriptions page
.subscription {
  background-color:lightblue;
  border-radius:5px;
  padding: 1em;
  margin: 0 0 1em 0;
}

// Friends page
#friends-main {
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
}

#friends-side {
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

// Guest Homepage
.guest-fill {
  //background-color: #461A3B;
  background-color: #272b30;
  margin-top: -52px;
  margin-left: -48px;
  margin-right: -48px;
  height: 100%;
  // height: 100vh;
  // width: 100vw;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .carousel-inner {
    height: 95vh;
  }
  
  .carousel-caption {
    top: 20%;
  }
  
  .btn {
    border: none;
    border-radius: 0;
    font-weight: bold;
    // background: #487F5BBB;
    // background: $highlight-white;
    padding: 6px 40px;
  }
  
  .text-main {
    padding: 5px;
    margin: 10px 10vw;
  }
  
  h4 {
    padding: 5px;
    margin: 30px 0;
  }
  
  .btn, .text-main, h4 {
    background: $highlight-white;
  }
}


a.btn:visited {
  color: white;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 

$primary_color: #D3F3DE;

.result_image {
    margin-right: 10px;
    background-color: $primary_color;
    padding: 10px 10px 10px 10px;    
    border: 3px solid black;
    float: left;
    display: block;
}

.result_description {
    padding: 30px;
   
}

.search_results{
    list-style: none;
}

.search_results > li {
    float: left;
    padding: 5px;
    width: 80%;
}