<% provide(:title, "Edit Show") %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="card card-default">
        <h1 id="card-text" class="card-header">Edit Show</h1>
        <div class="card-body">
          <%= render 'form', show: @show %>
        </div>
      </div>
    </div>
  </div>
</div>
