<!DOCTYPE html>
<html>
  <head>
    <title>Vidon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light navbar-bg-light fixed-top">
      <h1 id="company">ionicSoft</h1>
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a href='/'>Home</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link">My Shows</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link">My Profile</a>
        </li>
        <li class="navbar-item">
          <a href="/static_pages/about" class="nav-link">About</a>
        </li>
        <li class="navbar-item">
          <a href='/static_pages/contact' class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>